.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tinder-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 300px;
}

.tinder-card button{
    text-align: center;
}

.tinder-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.like-btn, .dislike-btn {
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

.like-btn:hover, .dislike-btn:hover {
    background-color: #ff5252;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 600px) {
    .tinder-card {
        width: 90%;
    }
}