html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


.login-page{
    background-image: url('../img/background_login2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: #FFFFFF;
    margin: 0;
    
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    justify-content: center; 
    background-color: #8C2641;
    color: #fff;
    border: none;
    border-radius: 5px; 
    display: inline-block; 
    text-align: center; 
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px; /* Añade margen superior si es necesario */
    
}


button:hover {
    background-color: #EF8CAA;
}

.text-register{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
