:root {
    --primary-color: #ff6b6b;
    --secondary-color: #ff5252;
    --text-color: #333;
    --background-color: #f0f0f0;
    --card-background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

/* ----- Header ----- */

.header {
    background-color: var(--card-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    flex: 1;
}

.logo-link {
    text-decoration: none;
}

.logo-link img {
    width: 200px;
}

.user-icon-container {
    display: flex;
    align-items: center;
}

.user-icon-link {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 10px;
}

.user-icon-link i {
    font-size: 30px;
}

.pro-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.pro-control {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.pro-control img {
    width: 24px;
    height: 24px;
}

/* ----- Footer ----- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    margin: 0;
}
