<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVG_Match</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="menu-bar">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Explorar</a></li>
            <li><a href="#">Mensajes</a></li>
            <li><a href="#">Notificaciones</a></li>
            <li><a href="#">Centro de Usuarios</a></li>
        </ul>
    </nav>
    <div class="card-container">
        <div class="tinder-card">
            <img src="profile1.jpg" alt="Profile Picture">
            <h2>Jane Doe</h2>
            <p>Edad: 25</p>
            <p>ubicación: New York</p>
            <button class="like-btn">Like</button>
            <button class="dislike-btn">Dislike</button>
        </div>
    </div>

</body>
</html>
