<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/1bcb8b5e39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body class="login-page"> 
    <div class="page-container">
        <!-- ------- Header ------- -->
        <header class="header">
            <div class="logo-container">
                <a href="/" class="logo-link">
                    <img src="../static/img/UVG_match2.png" alt="Logo">
                </a>
            </div>
        </header>
        <div class="content-wrap">
            <!-- ------- Form ------- -->
            <div class="login-container">
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <p class="text-register">¿No tienes una cuenta? <a href="/register">Crea una aquí</a></p>
            </div>
        </div>
        <!-- ------- Footer ------- -->
        <footer>
            <div class="footer-container">
                <p>&copy; 2024 Grupo 1. Todos los derechos reservados.</p>
            </div>
        </footer>
    </div>
    <!-- ------- Scripts ------- -->

</body>

</html>